* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  height: 500px;
  perspective: 500px;
}
.carousel .carousel-item {
  width: 200px;
  top: -100px;
}
.mobile {
  position: absolute;
  top: 35px;
  left: 233px;
  transform: traslate(-80%, -80%);
  z-index: 5;
  pointer-events: none;
  width: 235px;
}

.slidetext {
  color: azure;
  position: absolute;
  margin-top: 256px;
}
